
<br>
<br>
<section class="text-2xl bg-gray-500 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col">
      
      <div class="flex flex-wrap sm:flex-row flex-col py-6 mb-12">
        <h1 class="sm:w-2/5 text-black font-medium title-font text-2xl mb-2 sm:mb-0">WE DEAL WITH MEN TSHIRTS ONLY . </h1>
        
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://images.unsplash.com/photo-1581655353564-df123a1eb820?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
        </div>
        <h2 class="text-xl font-medium title-font text-white mt-5">PUMA WHITE ROCK</h2>
        <p class="text-base leading-relaxed mt-2">It is characterized by a round, circular neckline that fits snugly at the neck and works best on men with long, narrow faces and sloped shoulders to create a well-rounded silhouette. For a timeless look, nothing beats the crew neck t-shirt</p>
        <a href="http://localhost:8020/product" target="_blank" class="mr-5 hover:text-gray-900 text-indigo-700  hover:bg-gray-200">BUY NOW</a>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://images.unsplash.com/photo-1618354691438-25bc04584c23?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80">
        </div>
        <h2 class="text-xl font-medium title-font text-white mt-5">ADIDAS SPORTY WHITE</h2>
        <p class="text-base leading-relaxed mt-2">V-necks are T-shirts where the neck is shaped like the letter V. These T-shirts work well to slim down your physique, and is also a popular choice for people with rounder face shapes.</p>
        <a href="http://localhost:8020/product" target="_blank" class="mr-5 hover:text-gray-900 text-indigo-700  hover:bg-gray-200">BUY NOW</a>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        
      </div>
      <div class="p-4 md:w-1/3 sm:mb-0 mb-6">
        <div class="rounded-lg h-64 overflow-hidden">
          <img alt="content" class="object-cover object-center h-full w-full" src="https://images.unsplash.com/photo-1581655353564-df123a1eb820?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
        </div>
        <h2 class="text-xl font-medium title-font text-white mt-5">REEBOK WHITE INFI</h2>
        <p class="text-base leading-relaxed mt-2">A polo shirt, tennis shirt, golf shirt, chukker shirt or chukka shirt is a form of shirt with a collar, a placket neckline with two or three buttons, and an optional pocket, For a timeless look, nothing beats the crew neck t-shirt</p>
        <a href="http://localhost:8020/product" target="_blank" class="mr-5 hover:text-gray-900 text-indigo-700  hover:bg-gray-200">BUY NOW</a>
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        
      </div>
    </div>
  </div>
</section>